.home{
    margin: 15px 10%; 
    
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
}

.customHome {
    padding: 30px;
    border: 1px solid greenyellow;
}

.main {
    width: 80%;  
    margin: auto;
}

.body {
    width: 100%;  display: flex;
}

.content {
    width: 81%;  
    
}

.menu {
    width: 19%;  margin: 10px 0px 10px 0px;
}

